* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 80vw;
    margin: auto;
}

body {
    background-color: #000000;
    color: #ffffff;
}

/* ------------------------------------- */

.navbar {
    position: absolute;
    z-index: 10;
    top: 0;
    padding: 20px;
    width: 80vw;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left .logo {
    width: 150px;
}

.nav_right {
    display: flex;
    gap: 10px;
}

.nav_right .language_select {
    width: 120px;
    height: 35px;
    color: #ffffff;
    background-color: rgba(25, 25, 25, 0.5);
    border: 1px solid #b6b3b3;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.nav_right .singin_button {
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.nav_right .singin_button:hover {
    background-color: #be1616;
    cursor: pointer;
}


/* ------------------------------------------- */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
}


.for_dark_background {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero_content {
    text-align: center;
    position: relative;
    z-index: 2;
}

.descriptions .hero_titel {
    font-size: 60px;
    font-weight: bold;
    max-width: 700px;
}

.descriptions .text_1 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
}

.descriptions .text_2 {
    font-size: 16px;
    margin-top: 40px;
}

.hero .hero_content .signup_form1 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero .hero_content .signup_form1 input {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(25, 25, 25, 0.699);
    height: 55px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #b6b3b3;
    text-decoration: none;
    padding: 14px;
}

.hero .hero_content .signup_form1 .payment_button {
    height: 55px;
    width: 280px;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.hero .hero_content .signup_form1 .payment_button:hover {
    background-color: #be1616;
    cursor: pointer;
}

.hero_content .text_3 {
    margin-top: 20px;
    color: #c6c4c4;
}

/* ------------------------------------------ */

.recent_trends {
    max-width: 80vw;
    margin: 20px auto;
}

.carousel {
    position: relative;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.movie_row {
    display: flex;
    align-items: center;
    gap: 55px;
    padding-left: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-y: hidden;
}

.movie_card {
    position: relative;
    min-width: 150px;
    width: 180px;
    height: 250px;
    flex-shrink: 0;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.number {
    position: absolute;
    left: -25px;
    bottom: 5px;
    z-index: 2;
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    color: #000;
    -webkit-text-stroke: 1px white;
}

.arrow {
    position: absolute;
    width: 25px;
    height: 100px;
    border: none;
    border-radius: 12px;
    background: rgba(40, 40, 40, 0.9);
    color: white;
    font-size: 45px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover {
    background: rgba(70, 70, 70, 0.95);
}

/* ---------------------------------------------------- */

.useful_features {
    width: 80vw;
    margin: 50px auto;
}

.feature_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 14px;
}

.feature {
    position: relative;
    height: 270px;
    width: 295px;
    border-radius: 12px;
    background-color: rgba(29, 14, 84, 0.741);
    overflow: hidden;
}

.feature_list .feature p {
    margin: 15px;
    font-weight: bold;
    color: #b6b3b3;
}

.feature_list .feature h3 {
    margin: 24px 15px;
    font-size: 24px;
}

.useful_features .feature_list .feature img {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* -------------------------------------------------- */

.faqs {
    margin: 60px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqs .faq_lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #414141;
    color: #ffffff;
}

.faq:hover {
    background-color: #808080;
}

.faq p {
    font-size: 24px;
}

.faq img {
    width: 50px;
}

/* ---------------------------------------------------------- */

.signup_area {
    margin: 80px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup_area .signup_form2 input {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(25, 25, 25, 0.699);
    height: 55px;
    width: 480px;
    border-radius: 5px;
    border: 1px solid #b6b3b3;
    text-decoration: none;
    padding: 14px;
}

.signup_area .signup_form2 button {
    height: 55px;
    width: 280px;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.signup_area .signup_form2 {
    display: flex;
    gap: 10px;
}

.signup_area .signup_form2 button:hover {
    background-color: #be1616;
    cursor: pointer;
}

.signup_area .signup_description {
    color: #b6b3b3;
    font-weight: 600;
}