* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 80vw;
    margin: auto;
}

body {
    background-color: #000000;
    color: #ffffff;
}

/* ----------NavBar---------- */

.navbar {
    position: absolute;
    z-index: 10;
    top: 0;
    padding: 20px;
    width: 80vw;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left .logo {
    width: 150px;
}

.nav_right {
    display: flex;
    gap: 10px;
}

.language {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.language_icon {
    position: absolute;
    left: 12px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    pointer-events: none;
}


.nav_right .language_select {
    width: 120px;
    height: 35px;
    padding: 0 0 0 35px;
    color: #ffffff;
    background-color: rgba(24, 24, 24, 0.7);
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav_right .singin_button {
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.nav_right .singin_button:hover {
    background-color: #be1616;
    cursor: pointer;
}

/* ----------Hero Section---------- */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
}


.for_dark_background {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero_content {
    text-align: center;
    position: relative;
    z-index: 2;
}

.descriptions .hero_titel {
    font-size: 60px;
    font-weight: bold;
    max-width: 700px;
}

.descriptions .text_1 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
}

.descriptions .text_2 {
    font-size: 16px;
    margin-top: 40px;
}

.hero .hero_content .signup_form1 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero .hero_content .signup_form1 input {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(25, 25, 25, 0.699);
    height: 55px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #b6b3b3;
    text-decoration: none;
    padding: 14px;
}

.hero .hero_content .signup_form1 .payment_button {
    height: 55px;
    width: 280px;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.hero .hero_content .signup_form1 .payment_button:hover {
    background-color: #be1616;
    cursor: pointer;
}

.hero_content .text_3 {
    margin-top: 20px;
    color: #c6c4c4;
}

/* ----------Trending Movie Section---------- */

.recent_trends {
    max-width: 80vw;
    margin: 20px auto;
}

.carousel {
    position: relative;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.movie_row {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 25px 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.movie_row::-webkit-scrollbar {
    display: none;
}


.movie_card {
    position: relative;
    min-width: 150px;
    width: 180px;
    height: 250px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    z-index: 1;
}


.movie_card:hover {
    transform: scale(1.10);
    z-index: 20;
}


.movie_card img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    z-index: 2;
    transition: box-shadow 0.3s ease;
}


.movie_card:hover img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.number {
    position: absolute;
    left: -30px;
    bottom: 10px;
    z-index: 5;
    font-size: 90px;
    font-weight: 900;
    line-height: 1;
    color: #000;
    -webkit-text-stroke: 1.5px white;
    pointer-events: none;
}


.arrow {
    position: absolute;
    width: 25px;
    height: 100px;
    border: none;
    border-radius: 12px;
    background: rgba(40, 40, 40, 0.9);
    color: white;
    font-size: 45px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover {
    background: rgba(70, 70, 70, 0.95);
}

/* ----------Why to Join Section---------- */

.useful_features {
    width: 80vw;
    margin: 50px auto;
}

.feature_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 14px;
}

.feature {
    position: relative;
    height: 270px;
    border-radius: 12px;
    background-color: rgba(29, 14, 84, 0.741);
    overflow: hidden;
}

.feature_list .feature p {
    margin: 15px;
    font-weight: bold;
    color: #b6b3b3;
}

.feature_list .feature h3 {
    margin: 24px 15px;
    font-size: 24px;
}

.useful_features .feature_list .feature img {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* ----------F&Q Section---------- */

.faqs {
    margin: 60px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqs .faq_lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #313131;
    color: #ffffff;
}

.faq:hover {
    background-color: #515151;
}

.faq p {
    font-size: 24px;
}

.faq img {
    width: 50px;
    filter: invert(1);
}

/* ----------SignUp Section---------- */

.signup_area {
    margin: 80px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup_area .signup_form2 {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.signup_area .signup_form2 input {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(25, 25, 25, 0.699);
    height: 55px;
    width: 480px;
    border-radius: 5px;
    border: 1px solid #b6b3b3;
    text-decoration: none;
    padding: 14px;
}

.signup_area .signup_form2 button {
    height: 55px;
    width: 280px;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.signup_area .signup_form2 button:hover {
    background-color: #be1616;
    cursor: pointer;
}

.signup_area .signup_description {
    color: #b6b3b3;
}

/* ----------Footer---------- */

.footer {
    margin: 50px auto 100px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.footer .call {
    color: #b6b3b3;
}

.footer .call a {
    color: #b6b3b3;
}

.footer .questions_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 14px;
}

.footer .questions_links a {
    color: #b6b3b3;
    font-size: 14px;
}

.footer .language_select {
    width: 120px;
    height: 35px;
    padding: 0 0 0 35px;
    color: #ffffff;
    background-color: rgba(24, 24, 24, 0.7);
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.footer .website_name {
    color: #b6b3b3;
    font-size: 14px;
    font-weight: bold;
}

.footer .disclaimer {
    color: #b6b3b39f;
    font-size: 12px;
    font-weight: bold;
}

/* ----------------------------- */


@media (max-width:960px) {

    /* ----------NavBar---------- */

    /* ----------Hero---------- */

    /* ----------Recent Trend---------- */

    /* ----------Why to Join Section---------- */
    .useful_features {
        width: 90vw;
    }

    .useful_features h2 {
        font-size: 18px;
    }

    .useful_features .feature_list {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .useful_features .feature_list .feature {
        height: 170px;
    }

    .useful_features .feature_list .feature h3 {
        font-size: 20px;
        margin: 24px 15px 0px;
    }

    .useful_features .feature_list .feature p {
        font-size: 16px;
        margin: 10px 15px;
    }

    .useful_features .feature_list .feature img {
        bottom: 5px;
        right: 5px;
    }

    /* ----------F&Q Section---------- */
    .faqs {
        width: 90vw;
    }

    .faqs h2 {
        font-size: 18px;
    }

    .faqs .faq_lists .faq {
        height: 70px;
    }

    .faqs .faq_lists .faq img {
        width: 30px;
    }

    .faqs .faq_lists .faq p {
        font-size: 18px;
    }

    /* -----------SignUp Section---------- */
    .signup_area {
        width: 90vw;
    }

    .signup_area .signup_form2 input {
        width: 100%;
    }

    .signup_area .signup_form2 button {
        font-size: 18px;
    }

    /* ------------Footer---------- */
    .footer {
        width: 90vw;
    }

    .footer .questions_links {
        grid-template-columns: 1fr 1fr;
    }
}